main {
  padding: var(--padding-xxl) var(--padding-s);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    gap: var(--gap-xl);
}

.titulo {
    color: var(--preto);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
    align-self: flex-start;
}

.error {
  opacity: .5;
}