footer {
  display: flex;
  flex-direction: column;
}

.rodape {
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: var(--padding-xl) var(--padding-s);
  background-color: var(--preto);
  color: var(--branco);
}

.rodape_informacoes {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: var(--gap-xl);
  height: 128px;
  color: var(--cinza-claro);
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  img {
    width: 128px;
  }
}

.funcionamento,
.institucional {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  color: var(--cinza-claro);
}

.redes {
  display: flex;
  gap: var(--gap-s);
  padding: var(--padding-xs) 0;
  font-size: var(--font-size-m);
}

.titulo {
  margin: 0 0 .5rem 0;
  font-family: var(--fonte-titulo);
  font-weight: 400;
}

.ancora {
  color: var(--cinza-claro);
  text-decoration: none;
}

.ancora:hover {
  color: var(--branco);
  transform: scale(1.1);
}

.desenvolvimento {
  padding: var(--padding-m) var(--padding-s);
  background-color: var(--cinza-claro);
  color: var(--preto);
  text-align: center;
  font-family: var(--fonte-texto);
  font-weight: 400;
  font-size: var(--font-size-m);
}

@media (max-width: 768px) {
  .rodape {
    flex-direction: column;
    padding: var(--padding-l) var(--padding-s);
  }
}